<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
** 자료 수정 **
	<form th:action="@{/update}" method="post" th:object="${member}">
	<!-- <input type="hidden" th:field="*{id}">  -->
	<!-- th:field를 사용하면 자동으로 해당 이름으로 id와 name attribute가 생성된다. -->
	이름 : <input type="text" th:field="*{name}">	<br/>
	id : <input type="text"  readonly="readonly" th:field="*{id}"><br/>
	pw : <input type="text" th:field="*{passwd}"><br/>
	<button>수 정</button>
	<input type="button" value="이전" onclick="history.back()">
	
	</form>

</body>
</html>