<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.text-center{
text-align:center;
}
.text-bold{
font-weight:bold;
}
</style>
</head>
<body>
	<h2>[[${jikwonname}]] 님이 관리하는 고객명단</h2>
	<table border="1" class="text-center">
		<tr>
			<th>고객 번호</th>
			<th>고객 명</th>
			<th>고객 전화</th>
		</tr>
		<th:block th:if="${list.size >0}">
			<tr th:each="l : ${list}">
				<td>[[${l.gogekno}]]</td>
				<td>[[${l.gogekname}]]</td>
				<td>[[${l.gogektel}]]</td>
			</tr>
			<tr>
				<td colspan="3" th:text="|인원수 : ${list.size()} 명|" class="text-bold"></td>
			</tr>
		</th:block>
	</table>
	<a th:href="@{/list}">리스트로 돌아가기</a>

</body>
</html>