<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>친구 등록</h2>
<div th:if="${message}" style="color:red;">
	<p th:text="${message}"></p>
</div>
<form th:action="@{/insert}" method="post" enctype="multipart/form-data">
<label for="irum">이름 : </label>
<input type="text" id="irum" name="irum" required><br/>
<label for="junhwa">전화 : </label>
<input type="text" id="junhwa" name="junhwa" required><br/>
<label for="jikup">직업 : </label>
<input type="text" id="jikup" name="jikup" required><br/>
<label for="file">사진 선택 : </label>
<input type="file" id="file" name="file" required><br/>
<button type="submit"> 등록 </button>
<button type="button" onclick="history.back()"> 이전 </button>
</form>
</body>
</html>