<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
const fetchmembers = () =>{
	let str = "";
	fetch('/api/members',{method:'GET'})
	.then(res =>{
		if(!res.ok){
			throw new Error('네트워크 오류');
		}
		else{
			return res.json();
		}
	})
	.then(members => {
		displayMembers(members);
	})
	.catch(err => {
		console.log('데이터오류' + err);
	})
}

const displayMembers = members =>{ //자료가 출력될 tr td 생성
	const tableBody = document.getElementById('tableBody');
	tableBody.innerHTML = '';
	
	members.forEach(mem =>{
		let row = document.createElement('tr'); // DOM
		row.innerHTML = 
		`<td> ${mem.num} </td>
		<td> ${mem.name} </td>
		<td> ${mem.addr} </td>
		<td> <a href='#' onclick='editmem(${mem.num})'>수정</a> </td>
		<td> <a href='#' onclick='deletemem(${mem.num})'>삭제</a> </td>`;
		tableBody.appendChild(row);
	});
}

const editmem = num =>{
	//alert(num);
	location.href=`/members/update/${num}`
}

const deletemem = num =>{
	if(confirm("정말 삭제하시겠습니까?")){	
		fetch(`/api/members/${num}`,{method:'DELETE'})
		.then(arr => {
			if(!arr.ok){
				throw new Error('삭제 실패');
			}
			else{
				return arr.json();
			}
		})
		.then(data => {
			if(data.isSucess){
				fetchmembers(); //삭제후 목록보기
			}
			else{
				alert('삭제 실패');
			}
		})
		.catch(err =>{
			console.log("삭제오류 : "+err)
		})
	}
}
</script>
</head>
<body>
	<h3>회원자료</h3>
	<a th:href="@{/}">메인으로</a>
	<br />
	<button onclick="fetchmembers()">회원자료 읽기</button>
	<br />
	<br />
	<table border="1">
		<thead>
			<tr>
				<th>번호</th>
				<th>이름</th>
				<th>주소</th>
				<th>수정</th>
				<th>삭제</th>
			</tr>
		</thead>
		<tbody id="tableBody">
			<!-- 읽은 자료 출력은 여기에 -->
		</tbody>
	</table>
</body>
</html>