<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>직원 목록</h3>
	<table border="1">
		<tr>
			<th>직원번호</th>
			<th>직원명</th>
			<th>직급</th>
			<th>부서명</th>
			<th>연봉</th>
		</tr>
		<th:block th:if="${list.size} >0">
			<tr th:each="l:${list}">
				<td>[[${l.jikwonno}]]</td>
				<td>[[${l.jikwonname}]]</td>
				<td>[[${l.jikwonjik}]]</td>
				<td>[[${l.busername}]]</td>
				<td>[[${#numbers.formatInteger(l.jikwonpay, 3, 'COMMA') + '만원'}]]</td>
			</tr>
			<tr>
				<td colspan="5" style="text-align: center; font-weight: bold">[[|총
					직원 수 : ${list.size}|]]</td>
			</tr>
			<tr>
				<td colspan="5" style="text-align: center">
					<form th:action="@{/jikwon/search}" method="get">
						직원 이름 검색 : <input type="text" name="jikwonname">
						<button>검색</button>
				</td>
			</tr>
		</th:block>
	</table>
	<a href="#" onclick="history.back()">뒤로 돌아가기</a>

</body>
</html>