<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>직원자료 출력</h2>
	<table border="1">
		<tr>		
			<th>사번</th>
			<th>직원명</th>
			<th>직급</th>
			<th>부서명</th>
			<th>관리고객</th>
		</tr>
		<th:block th:if="${list.size>0}">
			<tr th:each="l : ${list}">
				<td>[[${l.jikwonno}]]</td>
				<td th:switch="${l.damdangGogek}">
					<span th:case="${true}" >
						<a th:href="@{/damgogek(jikwonno=${l.jikwonno})}">[[${l.jikwonname}]]</a>
					</span>
					<span th:case="${false}" >
						[[${l.jikwonname}]]
					</span>
				</td>
				<td>[[${l.jikwonjik}]]</td>
				<td>[[${l.buser.busername}]]</td>
				<td th:switch="${l.damdangGogek}">
					<span th:case="true">O</span>
					<span th:case="false">X</span>
				</td>
			</tr>
		</th:block>
	</table>

</body>
</html>