<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>
	window.onload = () => {
	const btn = document.getElementById("reset");
	btn.addEventListener("click", function(){
		location.href = "/";
	});
	}
</script>
</head>
<body>
<h3>* 미니 게시판 목록(@MVC + JPA) *</h3>
<a th:href="@{/insert}">추가</a>
<br/>
<table border="1">
<tr>
<th>번호</th><th>글 제목</th><th>작성자</th><th>조회수</th>
</tr>
<th:block th:if="${list.size >0}">
<tr th:each="l:${list}">
	<td>[[${l.num}]]</td>
	<td><a th:href="@{/detail(num=${l.num})}">[[${l.title}]]</a></td>
	<td>[[${l.author}]]</td>
	<td>[[${l.readcnt}]]</td>
</tr>
</th:block>

<!-- 검색 -->
<tr>
<td colspan="4">
<form th:action="@{/search}" method="post" th:object="${bean}">
<select name="searchName" >
<!-- th:selected를 통해 유저가 이전에 선택한 값을 유지시켜준다.  -->
<!-- 처음에 오류가 자꾸 발생해서 원인을 못찾았는데 or를 ||로 표기했기 때문이다. thymeleaf에서 |는 백틱(`)과 같은 역할을 해준다. -->
<option value="author" th:selected="*{searchName == null} OR *{searchName == 'author'}">작성자</option>
<option value="title" th:selected="*{searchName == 'title'}">제목</option>  
</select>

<input type="text" name="searchValue" th:value="*{searchValue}">&nbsp;<button>검색</button>&nbsp;<input type="button" id="reset" value="초기화">
</form>
</td>
</tr>



</table>
</body>
</html>