<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>직원 정보</h2>
	<th:block th:unless="${msg}">
	<table border="1">
		<tr>
			<th>사번</th>
			<th>직원명</th>
			<th>성별</th>
			<th>연봉</th>
		</tr>
			<tr th:each="dto:${data}">
				<td>[[${dto.jikwonno}]]</td>
				<td>[[${dto.jikwonname}]]</td>
				<td>[[${dto.jikwongen}]]</td>
				<td>[[${dto.jikwonpay}]]</td>
			</tr>
			<tr>
				<td colspan="4" th:text="| ${display} 총 인원 : ${data.size} 명|"
					style="text-align: center"></td>
			</tr>
		</th:block>
	</table>
		<th:block th:if="${msg}">
		<h2 th:text="${msg}"></h2>
		</th:block>
<a href="#" onclick="history.back()">뒤로 가기</a>
</body>
</html>