<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>상품 업로드</h2>
<form th:action="@{/insert}" method="post" enctype="multipart/form-data">
<table>
<tr>
<td>상품 사진</td>
<td>
<input type="file" min="1" id="file" name="file" accept="image/*" required="required"></td>
</tr>
<tr>
<td>상품 코드 </td>
<td>
<input type="number" min="1" id="code" name="code" required="required" style="width:100%"/></td>
</tr>

<tr>
<td>상품 명 </td>
<td>
<input type="text" min="1" id="sang" name="sang" required="required" style="width:100%"/></td>
</tr>
<tr>
<td>상품 수량 </td>
<td>
<input type="number" min="1" id="su" name="su" required="required" style="width:100%"/></td>
</tr>
<tr>
<td>상품 단가 </td>
<td>
<input type="number" min="1" id="dan" name="dan" required="required" style="width:100%"/></td>
</tr>
<tr>
<td>사진 설명</td>
<td>
<textarea rows="5" style="width:100%" name="sajinabout" id="sajinabout"></textarea>
</tr>
</table>
<button>등록</button>
</form>
<!-- 에러 메시지 표시 -->
<div th:if="${message}">
<p style="color:red">
[[${message}]]
</p>
</div>
</body>
</html>