<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>상품 목록(@MVC + MyBatis)</h3>
<table border="1">
<tr>
<th>번호</th><th>코드</th><th>품명</th><th>수량</th><th>단가</th>
</tr>
<th:block th:if="${list.size} >0">
<tr th:each="l, status:${list}">
<td>[[${status.count}]]</td><td>[[${l.code}]]</td><td>[[${l.sang}]]</td><td>[[${l.su}]]</td><td>[[${l.dan}]]</td>
</tr>
<tr>
<td colspan="5" style="text-align:center; font-weight:bold">[[|총 수량 : ${list.size}|]]</td>
</tr>
<tr>
<td colspan="5" style="text-align:center">
<form th:action="@{/search}" method="get">
상품명 검색 : <input type="text" name="searchValue">
<button>검색</button>
</td>
</tr>
</th:block>
</table>
<a href="index.html">뒤로 돌아가기</a>

</body>
</html>