<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>직원(Emp) 정보</h2>
<table border="1">
<tr>
<th>사번</th><th>이름</th><th>부서번호</th><th>부서명</th>
</tr>
<th:block th:if="${list.size >0}">
<tr th:each="l : ${list}">
<td>[[${l.empno}]]</td><td>[[${l.ename}]]</td><td>[[${l.dept.deptno}]]</td><td><a th:href="@{/employ/dept(deptno=${l.dept.deptno})}">[[${l.dept.dname}]]</a></td>
</tr>
</th:block>
</table>
</body>
</html>