<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>* 미니 게시판 목록(@MVC + MyBatis) *</h3>
<a th:href="@{/insert}">추가</a>
<br/>
<table border="1">
<tr>
<th>번호</th><th>글 제목</th><th>작성자</th><th>조휘수</th>
</tr>
<th:block th:if="${list.size >0}">
<tr th:each="l:${list}">
	<td>[[${l.num}]]</td>
	<td><a th:href="@{/detail(num=${l.num})}">[[${l.title}]]</a></td>
	<td>[[${l.author}]]</td>
	<td>[[${l.readcnt}]]</td>
</tr>
</th:block>

<!-- 검색 -->
<tr>
<td colspan="4">
<form th:action="@{/search}" method="post" >
검색 대상 : <select name="searchName" th:object="${bean}">
<!-- 
<option value="author" th:selected="*{searchName == null} || *{searchName == 'author'}">작성자</option>
<option value="title" th:selected="*{searchName == 'title'}">제목</option>
 -->
<option value="author" selected>작성자</option>
<option value="title">제목</option>

</select>
<input type="text" name="searchValue">&nbsp;<button>검색</button>
</form>
</td>
</tr>



</table>
</body>
</html>