<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2 th:text="'상품 자료들 출력'"></h2>
	<table border="true">
		<tr>
			<th>번호</th>
			<th>아이디</th>
			<th>상품명</th>
			<th>가격</th>
			<th>등록일</th>
		</tr>
		<!-- <tr th:each="dto:${datas}"> -->
		  <tr th:each="dto, status:${datas}">
		<!-- <td th:text="${status.index+1}"></td>   이와 같은 방법으로 index가 1부터 시작하게 설정 할 수 있다.--> 
			<td th:text="${status.count}"></td> <!-- 그러나 count method를 사용하면 기본적으로 1부터 시작한다. -->
			<td th:text="${dto.id}"></td>
			<td th:text="${dto.name}"></td>
			<td>[[${dto.price}]]</td>
			<td>[[${dto.regdate}]]</td>
		</tr>
	</table>

</body>
</html>