<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.gallery{
	display:flex;
	flex-wrap: wrap;
}
.photo{
	margin:10px;
	border: 1px solid #ccc;
	padding: 10px;
	width:200px;
}

.photo img {
	max-width:100%;
	height:auto;
}
</style>
</head>
<body>
<h1>사진첩</h1>
<div>
<a th:href="@{/upload}">사진 업로드</a>
</div>
<div class="gallery" th:if="${photos != null && !photos.isEmpty()}">
	<div class="photo" th:each="p : ${photos}">
		<a th:href="@{/download/{photoId}(photoId=${p.id})}">
			<img th:src="@{${p.filepath}}" alt="Photo">
		</a>
		<h3>[[${p.title}]]</h3>
		<p>[[${p.description}]]</p><br/>
		<p style="text-align:right">앨범 : [[${p.albumname}]]</p>
		<p style="text-align:right">등록일 : [[${p.uploadat}]]</p>
	</div>
</div>
<p th:if="${photos == null || photos.isEmpty()}"> 등록된 사진이 없습니다.</p>
</body>
</html>