<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://www.unpkg.com/vue@3"></script>
    <script src="./ex11event.js" defer></script>
</head>

<body>
    <div id="app">
        <h1>친구목록</h1>
        <div>
            <input type="text" v-model="newName" @keyup.enter="addName" placeholder="이름 입력">
        </div>
        <ul>
            <li v-for="(name,index) in names" :key="index">{{name}}
                <button @click="removeName(index)">삭제</button>
            </li>
        </ul>
    </div>
</body>

</html>