<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h3>[[${member.name}]] 님의 정보(@MVC : JdbcDaoSupport DB 처리를 했다.)</h3>
	
	<table border="1">
		<tr>
			<th>아이디</th>
			<th>패스워드</th>
			<th>회원명</th>
			<th>가입일</th>
		</tr>
			<tr>
			<td th:text="${member.id}">id</td>
			<td>[[${member.passwd}]]</td>
			<td>[[${member.name}]]</td>
			<td>[[${member.regdate}]]</td>
			</tr>
	</table>
<a th:href="@{/show}">목록 보기</a>&nbsp;&nbsp;
<a th:href="@{/update(id=${member.id})}">수정</a>&nbsp;&nbsp;
<a th:href="@{/delete(id=${member.id})}">삭제</a>&nbsp;&nbsp;
</body>
</html>