<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
 <!-- 재사용 구문은 별도 작성 가능 -->
<sql id="leftjoin" >FROM jikwon AS j Left JOIN buser AS b ON j.busernum = b.buserno</sql>
<sql id="busername"> COALESCE(b.busername,"부서 없음") AS busername</sql>

 <select id="selectAllJikwon" resultType="dto">  <!-- 반환타입은 기본으로 list collection -->
  SELECT j.jikwonno, j.jikwonname, <include refid="busername"/>, j.jikwonibsail  <include refid="leftjoin"/>
 </select>
  

 <select id="selectBuserInwon" resultType="dto" >  <!-- 반환타입은 기본으로 list collection -->
  SELECT <include refid="busername"/>, COUNT(j.busernum) AS inwon <include refid="leftjoin"/> GROUP BY b.busername
 </select>
 
 <select id="selectBuserTopPay" resultType="dto" >  <!-- 반환타입은 기본으로 list collection -->
  SELECT <include refid="busername"/>, j.jikwonname, j.jikwonpay <include refid="leftjoin"/> WHERE j.jikwonpay = (SELECT MAX(jikwonpay) FROM jikwon j2 WHERE j.busernum = j2.busernum ) ORDER BY busername
 </select>
 
</mapper>